
.accordion {
  max-width: 100%;
  margin: 0 auto;
}

.accordion-container {
  padding: 1rem 10vw;
  @media (max-width: $tablet) {
    padding: 0.5rem rem(30);
  }
}

.accordion .accordion__item {
  position: relative;
  border-bottom: 1px solid $color__border;
  &:last-child {
    margin-bottom: 0;
  }
}

.accordion .accordion__title {
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 3;
  user-select: none;
  &:after {
    content: '';
    position: absolute;
    top: rem(50);
    right: 10vw;
    width: 17px;
    height: 17px;
    border-right: 2px solid $color__primary;
    border-bottom: 2px solid $color__primary;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    @media (max-width: $tablet) {
      top: rem(30);
      right: rem(30);
      width: 15px;
      height: 15px;
    }
  }
  &.active:after {
    transform: rotate(-135deg);
    transition: all 0.2s ease-in-out;
  }
}

.accordion .accordion__content {
  display: none;
  padding: 10px 0 60px;
}


.accordion-group {
  background: $gray-light;
}

.accordion-group__title {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  @media (max-width: $tablet) {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
}