.column-content-images {
    background-size: cover;
    background-position: center;
    padding-top: 2.25rem;
    padding-bottom: 2rem;
}

.column-content-images__row {
    align-items: flex-end;
}

.column-content-images__subtitle {
    margin-bottom: 1.5rem;
}

.column-content-images__main-title {
    margin-bottom: 3rem;
}

.column-content-images__block {
    margin-bottom: 2rem;
}

.column-content-images__icon {
    margin-bottom: 1.25rem;
}

.column-content-images__content {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.column-content-images__wrapper {
    background-size: cover;
    background-position: center;
}