.slider-culture {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  @media (max-width: $tablet) {
    overflow: visible;
    margin-left: -15px;
  }
}

.slider-culture__slide {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  color: #fff;
  width: 75%;
  height: 350px;
  background-size: cover;
  transition: box-shadow 0.25s linear, background 0.25s linear;
  @media (min-width: $tablet) {
    width: 82%;
    height: 700px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($gray-dark, 0.75);
  }
  &:not(.swiper-slide-active) {
    &:hover {
      cursor: pointer;
      box-shadow: inset 0 0 0 99999px rgba(10, 10, 10, 0.9);
    }
  }
}

.slider-culture__content {
  padding: 1.5rem;
  z-index: 1;
  @media (min-width: $tablet) {
    padding: 4rem;
  }
  p {
    font-size: rem(26);
  }
}

section.culture {
  .row {
    @media (min-width: $tablet) {
      border-left: 2px solid $color__secondary;
    }
  }
  .sidebar__title-link {
    color: $color__text;
  }
}
