.slider-container {
  width: 100vw;
  height: 700px;
  position: relative;
  margin-bottom: 200px;
  .slider-img {
    width: 87%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.controls {
  position: absolute;
  top: 0px;
  height: 700px;
  padding-top: 20px;
  cursor: pointer;
  .work-label {
    color: $orange;
    font-family: $font__heading;
    font-weight: 400;
    font-size: 18px;
    transform: rotate(-90deg);
  }
  .work-title {
    position: absolute;

    font-family: $font__heading;
    font-weight: 400;
    font-size: 18px;
    transform: translateX(-50%) rotate(-90deg) translateX(50%) translateY(100%);
    bottom: 0px;
    user-select: none;
    white-space: nowrap;
    margin-bottom: -10px;
  }
}

.slide-in-enter-active {
  transition: all 0.3s ease;
}
.slide-in-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-in-enter, .slide-in-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
