// INPUTS

// global inputs

input,
textarea {
  background: #fff;
  color: #111;
  height: 55px;
  border: 1px solid #111;
  outline: none;
  &:focus {
    color: #000;
    border: 1px solid #000;
    outline: none;
  }
}

textarea {
  height: 200px;
}


/*** PLACEHOLDER ***/
::-webkit-input-placeholder {
  /* Chrome */
  color: #111 !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #111 !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #111 !important;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #111 !important;
}


// Gravity Forms Overrrides

/*** BUTTON STYLING ***/
.gform_wrapper .gform_footer input.button {
  @extend .btn;
  @extend .btn--primary;
  line-height: 34px !important;
  @media (min-width: $tablet) {
    margin-left: 40px !important;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color__secondary--dark;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
  }
  &:hover, &:focus {
    color: white;
    cursor: pointer;
  }
  &:hover:before {
    transform: scaleX(1);
  }
}


.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first,
.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle,
.gf_simple_horizontal_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last {
  padding-top: 0 !important;
}

.gform_wrapper form.gf_simple_horizontal label.gfield_label {
  width: auto !important;
  height: auto !important;
  top: -21px !important;
  color: $color__primary !important;
  font-size: 0.9em !important;
  font-family: $font__body;
  font-weight: normal !important;
  span { // the required asterick
    color: $color__primary !important;
  }
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  margin-bottom: 0 !important;
}

.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
.gf_simple_horizontal_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select {
  margin-bottom: 0 !important;
}

.gf_simple_horizontal_wrapper li.hidden_label input {
  margin-top: 0 !important;
  padding: 5px 15px !important
}

body .gf_simple_horizontal_wrapper .top_label div.ginput_container {
  margin-top: 0 !important;
}

.gf_simple_horizontal div.gform_footer.top_label {
  width: auto !important;
  vertical-align: top !important;
}

.gf_simple_horizontal div.gform_body {
  width: auto !important;
}

.gform_body input {
  padding: 6px 20px !important;
}

.gf_simple_horizontal div.gform_footer.top_label input[type="submit"] {
  line-height: 26px;
  padding: 5px 24px;
  @media (min-width: $mobile) {
    padding: 0 24px;
  }
}

// validation errors
.gform_wrapper div.validation_error {
  display: none !important;
}

.gform_wrapper li.gfield.gfield_error {
  background: transparent !important;
  border: none !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.gform_wrapper .description_above .gfield_description {
  padding-bottom: 0 !important;
}

.gform_wrapper .validation_message {
  color: $color__error !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
  margin-top: 0 !important;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border: 1px solid $color__error !important;
}

.gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  @media (max-width: $tablet) {
    margin-bottom: 0 !important;
  }
}

// confirmation message wrapper 
.gform_confirmation_message {
  margin: -20px auto;
}
.gform_wrapper .description_above .gfield_description {
  position: absolute !important;
  padding: 0 !important;
  margin: 0 !important;
}
.gform_wrapper .field_sublabel_above .gfield_description {
  margin: 0 !important;
}
.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  margin-bottom: 0 !important
}
.gform_wrapper form.gf_simple_horizontal div.gform_body ul.top_label li.gfield {
  margin-bottom: -5px !important; 
}
/* Hide the error message since we're displaying it above 
.validation_error, .validation_message {
	display:none;
}*/

/* selects */
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  padding-left: 10px;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
  color: #fff!important;
}

/* submit btn */
.gform_button {
  margin-top: 15px!important;
}

/* chosen fields ehanched */
@media only screen and (min-width: 641px) {
body .gform_wrapper select.medium.gfield_select+div.chosen-container-multi[style] a, body .gform_wrapper select.medium.gfield_select+div.chosen-container-single[style] a {
  width: calc(205% - 8px)!important;
}
}
.gform_wrapper .chosen-container-single a.chosen-single {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: $color__white!important;
  box-shadow: none!important;
  border: 1px solid rgba(0,0,0,0.1)!important;
}
.gform_wrapper .chosen-container-single .chosen-single div b {
  background-position: 0px 15px!important;
}

.gfield_description {
  font-size: 18px;
}

.gform_wrapper .gf_page_steps {
  display: flex;
  @media (max-width: $tablet) {
    justify-content: space-between;
  }
}

.gform_wrapper .gf_step {
  color: #fff!important;
  font-size: 20px!important;
  width: auto!important;
  height: auto!important;
}

.gform_wrapper .gf_step span.gf_step_number {
  display: flex!important;
  justify-content: center;
  align-items: center;
  width: 55px!important;
  height: 55px!important;
  border-radius: 50%!important;
  background: $color__primary!important;
}

.gform_wrapper .gf_step span.gf_step_label {
  color: #222;
  margin-top: 5px;
  font-size: 24px;
  font-family: inherit;
}
.gform_wrapper .gfield_description {
  font-size: 20px;
}

.gform_button,
.button.gform_next_button,
.button.gform_previous_button {
  background: #111;
  color: #fff;
  border-radius: 0;
  line-height: 25px;
  width: 200px;
  text-transform: uppercase;
  @extend .btn;
  @extend .from-bottom;
  &:hover {
    background: $color__primary--dark;
    cursor: pointer;
  }
}




// spinner
// the image is enqueued in functions
body img.gform_ajax_spinner {
  display: block;
  margin: 10px 0 0 10px;
  position: absolute;
  top: auto;
  bottom: -20px;
  left: 0;
  max-width: 50px;
  @media (min-width: $tablet) {
    top: 45px;
    left: 100%;
    bottom: auto;
  }
}


.gform_wrapper .top_label li ul.gfield_checkbox,.gform_wrapper .top_label li ul.gfield_radio {
  display: flex;
}