/*********************************************************
  Variables
  @NOTE: variable naming is using BEM conventions
*********************************************************/

// generic color names
$red: #e07a5f;
$orange: #e15931;
$offgray: #7c9091;
$silver: #a0a0a0;
$blue: #001c3e;
$blue-light: #033777;
$green: #77aca2;
$black: #595851;
$white: #ffffff;
$gray: #ACABA8;
$gray-light: #E6E4E2;
$gray-med: darken($gray-light, 10%);
$gray-dark: #555555;

// brand colors
$color__primary: #111;
$color__secondary: #fff;
$color__tertiary: $silver;
$color__text: #444;
$color__white: $white;
$color__black: $black;

// utility colors
$color__error: $red;
$color__success: $green;

// shades
$color__primary--dark: darken($color__primary, 7%);
$color__secondary--dark: darken($color__secondary, 7%);
$color__tertiary--dark: darken($color__tertiary, 7%);

// borders
$color__border: $gray;
$color__border--light: $gray-light;
$color__border--dark: $gray-dark;

// fonts
$font__heading: 'DM Sans', sans-serif;
$font__body: 'DM Sans', sans-serif;
$font-size: 1rem; //1rem == 16px

// breakpoints
$desktop-wide: 1200px;
$desktop: 920px;
$tablet: 768px;
$less-tablet: 767px;
$mobile: 480px;
$phone: $mobile;
