/*********************************************************
  404
*********************************************************/

.Error-404 {
	padding: 60px 20px;
	// text-align: center;
}
.Error-404__title {
	margin: 0;
}
.Error-404__subtitle {
	margin: 0;
}
